@use 'functions' as *;

$card-width-sm: rem(327);
$card-width: rem(350);
$card-img-height-sm: rem(278);
$card-img-height: rem(302);
$height-eth-icon: rem(18);
$height-clock-icon: rem(16);
$border-radius-img: rem(8);
$border-radius-card: rem(15);
$user-icon-height: rem(33);
$eye-height: rem(48);
$base-transition: all 0.3s ease-in;
