@use '../abstracts' as *;

$heading-font-size: rem(22);
$heading-line-height: rem(28);
$heading-font-weight: 600;
$para-font-size: rem(18);
$para-line-height: rem(26);
$para-font-weight: 300;
$font-size-info: rem(16);
$line-height-info: rem(20);
